@use '@/utils/styles';
.Home {
    main p {
        color: styles.$negre;
        display: inline;
    }

    &__div {
        background: linear-gradient(
            to bottom,
            rgba(97, 152, 114, 0) 25%,
            #619872 290%
        );
    }
}
