@use '@/utils/styles';

.ScheduleLegend {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: styles.$negre;

    &__item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__dot {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;

        &--iniciacio {
            background: rgba(0, 72, 35, 0.05);
        }
        &--formatiu {
            background: rgba(0, 72, 35, 0.1);
        }
        &--senior {
            background: rgba(0, 72, 35, 0.2);
        }
    }
}
