@use '@/utils/styles';

*,
*::before,
*::after {
    box-sizing: border-box;
}
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: white;
}

.ElClub {
    background-color: styles.$blanc;

    &__content-wrapper {
        width: 100%;
        max-width: 70rem;
        margin: 0 auto;
        padding: 0 2rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        justify-items: center;
        margin-bottom: 3rem;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 1.5rem;
            margin-bottom: 2rem;
        }
        @media (max-width: 480px) {
            gap: 1rem;
            margin-bottom: 1.5rem;
        }
    }

    &__timeline {
        background-color: #f9fafb;
        @include styles.vflex((20px), flex-start, center);
        padding: 39px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);

        width: 100%;
        max-width: 70rem;
        margin: 0 auto 3.3rem;
        box-sizing: border-box;

        @media (max-width: 768px) {
            margin-bottom: 2rem;
        }
        @media (max-width: 480px) {
            padding: 16px;
            margin-bottom: 1.5rem;
        }
    }

    &__info-grid {
        background-color: styles.$verd-logo;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 50px 0;

        @media (max-width: 1100px) {
            padding: 30px 0;
            flex-direction: column;
            gap: 1.5rem;
        }
        @media (max-width: 480px) {
            padding: 20px 0;
            gap: 1rem;
        }
    }

    &__p {
        padding: 0 2rem;
        line-height: 1.6;
        color: styles.$negre;

        @media (max-width: 768px) {
            margin-bottom: 1.5rem;
            padding: 0 1.5rem;
            font-size: 0.9rem;
        }
        @media (max-width: 480px) {
            margin-bottom: 1rem;
            padding: 0 1rem;
        }
    }

    &__heading {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
        color: styles.$negre;
        text-align: center;

        @media (max-width: 768px) {
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
        @media (max-width: 480px) {
            font-size: 1.75rem;
            margin-bottom: 1rem;
        }
    }
}
