@use '@/utils/styles';

.Schedule {
    @include styles.content-spacing;
    &__table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        border: 1px solid #e5e5e5;
        border-radius: styles.$corner-sm;
        margin-bottom: 2rem;
    }

    th,
    td {
        border: 1px solid #e5e5e5;
        padding: 1rem;
        box-sizing: border-box;
        height: 70px;
        vertical-align: middle;
    }

    &__thTime {
        width: 120px;
        background: #fafafa;
        font-size: 0.85rem;
        text-align: right;
        white-space: nowrap;
    }

    &__thDay {
        background: #fafafa;
        font-size: 0.9rem;
        font-weight: 600;
        text-align: center;
    }

    &__tdEmpty {
        background: #fff;
    }

    &__tdEvent {
        background: rgba(0, 72, 35, 0.1);
        color: styles.$verd-logo;
        font-size: 0.85rem;
        text-align: center;

        &--iniciacio {
            background: rgba(0, 72, 35, 0.05);
        }
        &--formatiu {
            background: rgba(0, 72, 35, 0.1);
        }
        &--senior {
            background: rgba(0, 72, 35, 0.2);
        }
    }

    @media (max-width: 600px) {
        &__table {
            table-layout: auto;
        }
        th,
        td {
            padding: 0.75rem;
            height: 60px;
        }
    }
}
