@use '@/utils/styles';

.Patrocinadors {
    &__logos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        margin: 90px;
        gap: 10px;

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            margin: 60px 30px;
            gap: 20px;
        }

        @media (max-width: 480px) {
            grid-template-columns: 1fr;
            margin: 30px 20px;
        }
    }

    &__logo {
        width: 30%;
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }

        &.storepack-logo,
        &.caldereria-logo,
        &.rmdislovall-logo {
            width: 35%;
        }

        @media (max-width: 1000px) {
            width: 40%;
            &.storepack-logo,
            &.caldereria-logo,
            &.rmdislovall-logo {
                width: 40%;
            }
        }
        @media (max-width: 480px) {
            width: 30%;
            &.storepack-logo,
            &.caldereria-logo,
            &.rmdislovall-logo {
                width: 30%;
            }
        }
    }

    &__contacte {
        @include styles.hflex(4px);
        justify-content: center;
        align-items: center;
        padding-bottom: 80px;

        @media (max-width: 768px) {
            padding-bottom: 60px;
            flex-direction: column;
            gap: 8px;
            text-align: center;
            padding: 0 20px 60px;
        }
        @media (max-width: 480px) {
            padding-bottom: 40px;
            gap: 6px;
        }

        p {
            margin: 0;
            font-size: 1rem;

            @media (max-width: 480px) {
                font-size: 0.9rem;
            }
        }

        a {
            color: styles.$negre;
            text-decoration: underline;
            font-size: 1rem;

            @media (max-width: 480px) {
                font-size: 0.9rem;
            }
        }
    }
}

a {
    color: styles.$negre;
}

html {
    scroll-behavior: smooth;
}
