@use '@/utils/styles';

.Instagram {
    color: styles.$verd-logo;

    &__div {
        margin: 0 2rem 0 0;

        @include styles.hflex(8px);
        justify-content: flex-end;
    }
    &__link {
        color: styles.$verd-logo;

        @media (max-width: 768px) {
            font-size: 0.9rem;
        }
    }
    @media (max-width: 500px) {
        .responsive-iframe {
            height: 484px !important;
        }
    }
}
