@use '@/utils/styles';

.Botiga {
    &__main-content {
        @include styles.content-spacing;
    }

    &__products {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    &__buttons-wrapper {
        @include styles.hflex((8px), center, center);
        margin-bottom: 5.43rem;
    }
}
