@use '@/utils/styles';

.TimelineCard {
    &__header {
        @include styles.hflex((40px), stretch, stretch);
    }
    &__year {
        font-size: 1.25rem;
        font-weight: 700;
        color: styles.$verd-logo;
        flex-shrink: 0;
    }

    &__title {
        font-size: 1.25rem;
        font-weight: 700;
        color: styles.$verd-logo;
        margin-bottom: 0.25rem;
    }

    &__description {
        font-size: 1rem;
        color: #333;
    }
}
