@use '@/utils/styles';

.TimelineCard {
    &__header {
        @include styles.hflex((40px), stretch, stretch);
    }
    &__year {
        font-size: 1.25rem;
        font-weight: 700;
        color: styles.$verd-logo;
        flex-shrink: 0;

        @media (max-width: 768px) {
            font-size: 1.1rem;
        }
    }

    &__title {
        font-size: 1.25rem;
        font-weight: 700;
        color: styles.$verd-logo;
        margin-bottom: 0.25rem;

        @media (max-width: 768px) {
            font-size: 1.1rem;
        }
        @media (max-width: 480px) {
            font-size: 1rem;
        }
    }

    &__description {
        font-size: 1rem;
        color: #333;

        @media (max-width: 768px) {
            font-size: 0.9rem;
        }
    }
}
