@use '@/utils/styles';

.ImageScrollGallery {
    @include styles.content-spacing;
    position: relative;
    overflow: hidden;

    &__container {
        display: flex;
        gap: 1rem;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        padding: 1rem 0;

        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__image {
        flex: 0 0 auto;

        object-fit: cover;
        scroll-snap-align: start;
        border-radius: 8px;
        transition: transform 0.3s ease, opacity 0.3s ease;
        &:hover {
            transform: scale(1.05);
            opacity: 0.9;
        }
    }

    &__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.4);
        border-radius: 50%;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: styles.$blanc;
        z-index: 10;
        transition: opacity 0.2s;
        opacity: 0.7;

        &--left {
            left: 0.5rem;
            transform: rotate(-90deg);
        }
        &--right {
            right: 0.5rem;
            transform: rotate(90deg);
        }
        &:hover {
            opacity: 1;
        }
        &.disabled {
            opacity: 0.2;
            pointer-events: none;
        }
    }
}
