@use '@/utils/styles';

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: styles.$verd-logo;
    color: styles.$negre;
    border-radius: styles.$corner-sm;

    &__contacte {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__email,
    &__telefon,
    &__instagram,
    &__ubicacio {
        display: flex;
        align-items: center;
        margin: 10px 0;

        a,
        p {
            text-decoration: none;
            color: styles.$blanc;
        }

        i {
            margin-right: 8px;
        }
    }

    &__ajuntament {
        width: 10%;
        margin-left: 1rem;
    }

    &__copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
