@use '@/utils/styles';

.footer {
    background-color: styles.$verd-logo;
    color: styles.$blanc;
    padding: 1.4rem;
    &__title {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 20px;
    }
    a {
        color: styles.$blanc;
        text-decoration: none;
        font-size: 0.9rem;

        &:hover {
            text-decoration: underline;
        }
    }

    &__section {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;
        margin-bottom: 1rem;
    }

    &__col {
        flex: 1;

        h4 {
            margin-bottom: 1rem;
            font-weight: bold;
        }

        p {
            margin: 0.3rem 0;
            font-size: 0.9rem;
        }
    }

    &__col-img {
        text-align: center;
        margin: auto;
        flex: 1;
    }

    &__logo {
        width: 35%;
    }

    &__logo-sferic {
        width: 60%;
    }

    &__email,
    &__telefon,
    &__ubicacio,
    &__instagram {
        display: flex;
        align-items: flex-start;
        gap: 0.5rem;
        margin: 0.5rem 0;
        align-items: center;

        svg {
            flex-shrink: 0;
        }

        p,
        a {
            line-height: 1.4;
        }
    }

    &__menu {
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        gap: 0.5rem;

        li {
            font-size: 0.9rem;
        }
    }

    &__copyright {
        border-top: 1px solid styles.$blanc;
        padding-top: 1rem;
        display: flex;
        gap: 1rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 0.8rem;

        img {
            height: 28px;
        }
    }
}
@media (max-width: 767px) {
    .footer {
        padding: 1rem;

        p {
            text-align: left;
        }

        &__section {
            padding: 1rem;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 1rem;
        }

        &__logo {
            width: 30%;
            margin: 0 auto 1rem;
        }
        &__col,
        &__col-img {
            width: 100%;
            flex: none;
        }
        &__col {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &__menu {
            grid-template-columns: 1fr 1fr;
            width: 100%;
            gap: 0.75rem;
            justify-items: flex-start;
        }

        &__logo-sferic {
            width: 60%;
            margin: 1rem auto;
        }

        &__copyright {
            flex-direction: column-reverse;

            gap: 0.8rem;
        }
    }
}
