@use '@/utils/styles';

.ReadyToJoin {
    @include styles.title-spacing;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: transparent;
    overflow: visible;

    svg {
        color: styles.$verd-logo;
    }
    &__container {
        position: relative;
        overflow: visible;
        display: flex;
        gap: 3rem;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__image {
        position: relative;
        z-index: 1;
        width: fit-content;

        &::before {
            content: '';
            position: absolute;
            right: 10px;
            width: 100%;
            height: 100%;
            background-color: styles.$verd-logo;
            transform: rotate(-5deg);
            z-index: 0;
        }

        img {
            display: block;
            max-width: 350px;
            width: 100%;
            z-index: 10000;
            position: relative;
            transform: rotate(5deg);

            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            &:hover {
                transform: rotate(3deg) scale(1.05);
                transition: transform 0.3s ease-in-out;
            }
        }
    }

    &__content {
        max-width: 600px;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: styles.$negre;
    }

    &__description {
        font-size: 1rem;
        color: styles.$negre;
        margin-bottom: 2rem;
    }

    &__stats {
        display: flex;
        gap: 2rem;
        margin-bottom: 2rem;

        @media (max-width: 500px) {
            flex-direction: column;
            gap: 1rem;
        }
    }

    &__stat {
        text-align: center;
    }

    &__number {
        font-weight: bold;
        font-size: 1.5rem;
        color: styles.$verd-logo;
    }

    &__span-text {
        font-size: 14px;
    }

    &__actions {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }

    &__cta {
        background-color: styles.$verd-logo;
        color: styles.$blanc;
        padding: 0.8rem 1.5rem;
        border: none;
        border-radius: styles.$corner-sm;
        font-weight: 600;
        cursor: pointer;
    }

    &__secondary {
        background: transparent;
        border: 2px solid styles.$verd-logo;
        color: styles.$verd-logo;
        padding: 0.8rem 1.5rem;
        border-radius: styles.$corner-sm;
        font-weight: 600;
        cursor: pointer;
    }
}
