@use '@/utils/styles';

.ReadyToJoin {
    @include styles.title-spacing;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: transparent;
    overflow: visible;

    svg {
        color: styles.$verd-logo;
    }
    &__container {
        position: relative;
        overflow: visible;
        display: flex;
        gap: 4rem;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__image {
        position: relative;
        z-index: 1;
        width: fit-content;

        &::before {
            content: '';
            position: absolute;
            right: 10px;
            width: 100%;
            height: 100%;
            background-color: styles.$verd-logo;
            transform: rotate(-3deg);
            z-index: 0;
        }

        img {
            display: block;
            max-width: 450px;
            width: 100%;
            z-index: 10000;
            position: relative;
            transform: rotate(4deg);

            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            &:hover {
                transform: rotate(3deg) scale(1.05);
                transition: transform 0.3s ease-in-out;
            }
        }
    }

    &__main {
        max-width: 600px;
    }

    &__wrapper {
        @include styles.vflex((43px), stretch, stretch);
    }

    &__title {
        font-size: 1.8rem;
        font-weight: bold;
        margin: 0 0 32px 0;
        color: styles.$negre;
    }

    &__description {
        font-size: 1rem;
        color: styles.$negre;
        margin: 0;
    }

    &__stats {
        display: flex;
        justify-content: space-between;

        @media (max-width: 500px) {
            flex-direction: column;
            gap: 1rem;
        }
    }

    &__stat {
        text-align: center;
    }
    &__stat-wrapper {
        @include styles.hflex((8px), center, center);
    }

    &__number {
        font-weight: bold;
        font-size: 1.5rem;
        color: styles.$verd-logo;
    }

    &__span-text {
        font-size: 14px;
    }

    &__actions {
        display: flex;
        gap: 35px;
        flex-wrap: wrap;
    }
    .Button {
        flex: 1 1 0;
    }
}
