:root {
    font-size: 16px;
}

html {
    font-family:
        'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family:
            'HankenGrotesk', 'Gill Sans', 'Gill Sans MT', Calibri,
            'Trebuchet MS', sans-serif;
    }
}

button {
    cursor: pointer;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}
