@use '@/utils/styles';

.Title {
    @include styles.title-spacing;

    &__title {
        color: styles.$negre;
        font-size: 1.75rem;
        margin-bottom: 2rem;
        border-left: 5px solid styles.$verd-logo;
        padding-left: 0.75rem;
    }
}
