@use '@/utils/styles';

.Title {
    &__bar {
        background-color: styles.$verd-estandard;
        border-radius: 10px;
        height: 7px;
        width: 8rem;
    }

    &__title {
        color: styles.$negre;
        font-weight: bold;
    }
}
