// Corners (For border radius)
$corner-xs: 0.25rem;
$corner-sm: 0.5rem;
$corner-md: 1rem;
$corner-lg: 2rem;
$corner-xl: 2.5rem;

// Opacity
$op-1: 0.1;
$op-3: 0.3;
$op-5: 0.5;
$op-7: 0.7;
$op-9: 0.9;

// Animation
$animate-fast: 0.3s;
$animate-normal: 0.5s;
$animate-slow: 1s;
$animate-confirm: 3s;
$animate-bezier: cubic-bezier(0.04, 0.6, 0.22, 0.71);

// Z-index levels
$z-drawers: 500;
$z-layout: 750;
$z-modal: 1300;

$marker-calendar-classes: (
  summer: (
    border: 2px solid var(--color-calendar-summer),
    background: var(--color-calendar-summer),
  ),
  winter: (
    border: 2px solid var(--color-calendar-winter),
    background: var(--color-calendar-winter),
  ),
  weekend-a: (
    border: 2px solid var(--color-calendar-weekend-a),
    background: white,
  ),
  weekend-b: (
    border: 2px solid var(--color-calendar-weekend-b),
    background: white,
  ),
  closing: (
    border: 2px dotted var(--color-disabled),
    background: white,
  ),
);

$working-modifications-classes: (
  training: (
    background-color: var(--color-yellow),
    fill: var(--color-yellow-dark),
  ),
  leave: (
    background-color: var(--color-input-borders-and-fillings),
    fill: var(--color-foundation-normal),
  ),
  extended-leave: (
    background-color: var(--color-black-opacity-50),
  ),
);
